prod.env.secrets

# ElasticSearch
esdata

# Logs
logs
*.log*
_ttd_log_/
logs/
src/util/logger/logs/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/
config/


# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# IDE specific files
.idea
.vscode